<div class="w3-container"style="margin-left:25%; padding:30px; margin-bottom: 10%">
    <mat-accordion><h2 class="w3-wide">Layers   </h2>
      
      <mat-expansion-panel *ngFor="let layer of layers$ | async">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ layer.layername}}
            </mat-panel-title>

          </mat-expansion-panel-header>
          
              <p *ngFor="let field of layer.fieldArray">
                  <mat-card> 
                <b>Name:</b> {{ field.instruction }} <br> <b>Type:</b> {{field.type}}  
                <br><b>Required:</b> {{field.required}}  <br><b>Multivaluated:</b> {{field.multivaluated}}
                  </mat-card>
              </p> 
            
      </mat-expansion-panel>
 
    </mat-accordion>

  </div>
