
<div class="w3-container"style="margin-left:25%; padding:30px; margin-bottom: 10%">
  
    <form (submit)="save($event)">
      <h4>Edit Feature Name</h4>
      <mat-card>
        <mat-form-field>
          <input id="Name" matInput placeholder="Name" value="{{featureName}}" required>
        </mat-form-field>
        <mat-action-row>
            <button mat-button type="submit">Save</button>
            <button mat-button type="button" (click)="cancel()">Cancel</button>
        </mat-action-row>
      
  
      </mat-card>
  
    </form>
  
  </div>
  