<div >
      <div class="col-md-4" style="display: inline-block;">
          <mat-form-field style="display: inline-block;">
              <input id="attribute" matInput placeholder="Attribute" required>
          </mat-form-field>
          <div style="display: inline-block;">
            <span>Type: </span>
            <select id="type" class="w3-select" style="display: inline-block;" placeholder="Location">
                    <option value="int">Integer</option>
                    <option value="boolean">Boolean</option>
                    <option value="numeric">Float</option>
                    <option value="varchar(500)">Text</option>
                    <option value="date">Date</option>
          </select>

          </div>
          <div style="display: inline-block;">
              <span>Required: </span>
                <input id="required" type="checkbox" checked>
          </div>
          <div style="display: inline-block;">
                <span>Multivaluated: </span>
                  <input id="multivaluated" type="checkbox" >
            </div>
          <div style="display: inline-block;">
          <button mat-mini-fab class="primary" style="display: inline-block; margin-left:10%;  background-color:#fff; color:black" type="button" 
          (click)="removeObject()" >x</button> 
          </div>
      </div>

      <br>

</div>


