<div>
	<mat-card>
		<form  (submit)="loginUser($event)">
			<mat-form-field style="display:block;">
				<input matInput placeholder="User Name">
			</mat-form-field>
			<mat-form-field style="display:block;">
					<input matInput type="password" placeholder="Password">
			</mat-form-field>
			<mat-action-row>
					<button mat-raised-button type="submit" style="margin:3px;" value="login">Login</button>
					<button mat-raised-button type="button" style="margin:3px;" (click)="register()" value="register">Register</button>
					
			</mat-action-row>
		</form>

	</mat-card>
</div>