
:host {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div.input{
    position: relative;
}


div.input input {
    padding: 10px 20px;
    font-size: 25px;
    outline: 0;
}

div.input {
    margin-top: 20px;
}