<div>

    <mat-card>
    <form  (submit)="register($event)" style="display:block;">
        <div class="form-group">
            <mat-form-field style="display:block;">
                <input matInput required maxlength="100" #inputName="ngModel" ngModel name="inputName" id="inputName" class="form-control" placeholder="User Name">
                <mat-error  *ngIf="inputName.touched && !inputName.valid">
                        Username Required
                </mat-error>
            </mat-form-field>
            
        </div>
        <div class="form-group">
            <mat-form-field style="display:block;">
                <input matInput 
                required 
                maxlength="100" 
                #email="ngModel" 
                ngModel 
                name="email" 
                (change)="log(email)"
                pattern="^[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$"
                id="email" 
                class="form-control" 
                type="email" 
                placeholder="Email">
                <mat-error style="margin:1px;" *ngIf="email.touched && !email.valid">
                        Email required or invalid
                </mat-error>
            </mat-form-field>
           
        </div>
        <div class="form-group">
            <mat-form-field style="display:block;">
                <input matInput 
                required 
                maxlength="45"
                minlength="6" 
                #pass="ngModel" 
                ngModel 
                name="pass" 
                class="form-control" 
                (change)="log(pass)"
                type="password" 
                placeholder="Password">
                <mat-error style="margin:1px;" *ngIf="pass.touched && pass.minlength">
                   Password should be minimum 6 characters 
                </mat-error>
            </mat-form-field>
           
        </div>
            <mat-action-row>
                
            
                <button mat-raised-button type="submit" style="margin:3px;" value="register">Register</button>
                <button mat-raised-button type="button" style="margin:3px;" routerLink="/" value="back">Back</button>
            </mat-action-row>
    </form>
    </mat-card>

    </div>