<div class="w3-container"style="margin-left:25%; padding:30px; margin-bottom: 10%">
  <mat-card class="w3-wide">
    <h3>Edit profile</h3>
    <form (submit)="save($event)">
      
            <mat-form-field>
              <input matInput placeholder="Name" value="{{username}}">
            </mat-form-field>
          
      
              <mat-form-field>
                <input matInput placeholder="Email" value="{{email}}">
              </mat-form-field>
         
       
            <mat-form-field>
              <input matInput placeholder="Password" value="{{pass}}" type="password">
            </mat-form-field>
       
          <mat-action-row>
            <button mat-raised-button type="submit">
              Save
            </button>
          </mat-action-row>
          
      
    </form>

  </mat-card>  
  </div>
