<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%;">
    <div class="w3-bar-item w3-dark-grey"><h3>Menu (Manager)</h3></div>

    <a routerLink="layers" class="w3-bar-item w3-button">Layers</a>
    <a routerLink="map" class="w3-bar-item w3-button">Maps</a>
    <a routerLink="/" class="w3-bar-item w3-button">Log out</a>
  </div>





<router-outlet></router-outlet>
