
<div style="margin-left:25%; padding:30px; margin-bottom:10%">
  <form (submit)="save($event); ">
    <h4>Add new Layer</h4>
    <div class="form-group">
      <mat-form-field>
        <input matInput ngModel name="layername" class="form-control" #layername="ngModel" placeholder="Layer name" required>
        <mat-error  *ngIf="layername.touched && !layername.valid">
            Layer Name Required
        </mat-error>
      </mat-form-field>
  
     </div>

  
   
  <div class="col-md-2">
      
    <span style="display: inline-block; width:20%;">Location</span>
      
        <select class="w3-select" style="width:40%"placeholder="Location">
            <option value="POINT">Point</option>
            <option value="POLYGON">Polygon</option>
            <option value="LINESTRING">Line</option>
        </select>
        
        <br>
      
  </div>
  <br>
    <div #parent></div>
    <div>
        
      <button mat-raised-button type="button"
            style="margin: 10px;" 
            (click)="addComponent()"
            >Add Field</button>

            <button mat-raised-button type="submit">Save</button>
     
    </div>

  </form>
</div>

