
<div class="w3-container"style="margin-left:25%; padding:30px; margin-bottom: 10%">
  
    <form (submit)="save($event)">
      <h4>Edit Field</h4>
      <mat-card>
          <div *ngFor="let field of field$ | async">
              <div  *ngIf="field.instruction != 'Location';else locTemplate">
             
               <div class="col-md-4" style="display: inline-block;">
                   <mat-form-field style="display: inline-block;">
                       <input id="attribute" matInput placeholder="Attribute" value="{{field.instruction}}" required>
                   </mat-form-field>
                   <div style="display: inline-block;">
                     <span>Type: </span>
                     <select id="type" class="w3-select" value="{{field.type}}" style="display: inline-block;" placeholder="Type">
                             <option value="int">Integer</option>
                             <option value="boolean">Boolean</option>
                             <option value="numeric">Float</option>
                             <option value="varchar(500)">Text</option>
                             <option value="date">Date</option>
                   </select>
         
                   </div>
                   <div style="display: inline-block;" *ngIf="field.required;else notRequired">
                       <span>Required: </span>
                         <input id="required" type="checkbox" checked>
                   </div>
                   <ng-template #notRequired>
                     <span>Required: </span>
                     <input id="required" type="checkbox">
     
                   </ng-template>
                   <div style="display: inline-block;" *ngIf="field.multivaluated;else notMultivaluated">
                         <span>Multivaluated: </span>
                           <input id="multivaluated" type="checkbox" checked>
                     </div>
                   <ng-template #notMultivaluated>
                     <span>Multivaluated: </span>
                     <input id="multivaluated" type="checkbox" >
     
                   </ng-template>
               </div>
         
               <br>
              </div>
              <ng-template #locTemplate>
                 
                 <span style="display: inline-block; width:20%;">Location</span>
                 <select id="Location" value="field.type" class="w3-select" style="width:40%"placeholder="Location">
                     <option value="point">Point</option>
                     <option value="polygon">Polygon</option>
                     <option value="line">Line</option>
                 </select>
                 <div style="display:none;">
                    <span>Required: </span>
                      <input id="required" type="checkbox" checked>
                    <span>Multivaluated: </span>
                     <input id="multivaluated" type="checkbox" >
                </div>
                 <br>
               </ng-template>
           </div>
        <mat-action-row>
            <button mat-button type="submit">Save</button>
            <button mat-button type="button" (click)="cancel()">Cancel</button>
        </mat-action-row>
  
      </mat-card>
  
    </form>
  
  </div>
  