<div style="margin-left:25%; padding:30px; margin-bottom:10%;">
    <div class="map" id="map">
	<h4>Map</h4>

	<mat-card>
		<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
			<div *ngFor="let marker of markers$ | async">
				<div *ngIf="marker.type=='Point';">
			    <agm-marker
 				    [latitude]="marker.coordinates[0].lat" 
				    [longitude]="marker.coordinates[0].lng">
				    <agm-info-window>
					    	<strong>{{marker.title}}</strong>
			        </agm-info-window>
				</agm-marker>
				</div>
				<div *ngIf="marker.type=='LineString';">
				<agm-polyline 
					[strokeColor]="'#FF1100'" 
					[strokeWeight]="2"
					[strokeOpacity]="0.5">
					<div  *ngFor="let coordinate of marker.coordinates" >
						<agm-polyline-point 
							[latitude]="coordinate.lat" 
							[longitude]="coordinate.lng"
							>
								<agm-info-window>
										<strong>{{marker.title}}</strong>
								</agm-info-window>
						</agm-polyline-point>
					</div>
				</agm-polyline>
				</div>		
				<div *ngIf="marker.type=='Polygon';">
						<agm-polygon 
						[paths]="marker.coordinates"
						[strokeColor]="'#FF0000'"
						[fillColor]="'#FF5500'">
							
						</agm-polygon>	

				</div>
				</div>
			
		</agm-map>
	
		
			<mat-selection-list (click)=updateList(layers) #layers>
				<mat-list-option value="{{layer.layerid}}" *ngFor="let layer of layers$ | async">
					{{layer.layername}}
				</mat-list-option>
			  </mat-selection-list>
		</mat-card>
						
	
	</div>

		
</div>