
<div style="margin-left:25%; padding:30px; margin-bottom:10%">
    <form (submit)="save($event)" >
      <h4>Add new Feature</h4>
      <h3>Select Layer</h3>
      <div class="col-md-2">
          <mat-form-field>
              <mat-select placeholder="Select">
                  <mat-option *ngFor="let layer of layers$ | async" (click)="loadFields(layer.layername,layer.layerid)" value="layer.layername">
                    {{layer.layername}}</mat-option>
                  </mat-select>
                
          </mat-form-field>
      </div>
          <mat-form-field style="display: block;">
              <input id="name" matInput placeholder="Name" required>
          </mat-form-field>
          <mat-form-field *ngFor="let field of fields$ | async" style="display: block;">
                <input id="{{field.instruction}}" matInput placeholder="{{field.instruction}} - Type: {{field.type}}" required>
          </mat-form-field>
        
      <div>

      </div>
      <div>
              <button  mat-raised-button style="margin: 10px;" type="submit" >Save</button>
            
       
      </div>
  
    </form>
  </div>
  
  