<div class="w3-container"style="margin-left:25%; padding:30px; margin-bottom: 10%">
      <mat-accordion><h2 class="w3-wide">Layers    <button mat-raised-button style="position:absolute; right:5%;" (click)="addLayer()" >Add New Layer</button></h2>
        
        <mat-expansion-panel *ngFor="let layer of layers$ | async">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ layer.layername}}
              </mat-panel-title>
  
            </mat-expansion-panel-header>
            
                <p *ngFor="let field of layer.fieldArray">
                    <mat-card> 
                  <b>Name:</b> {{ field.instruction }} <br> <b>Type:</b> {{field.type}}  
                  <br><b>Required:</b> {{field.required}}  <br><b>Multivaluated:</b> {{field.multivaluated}}

                    <mat-action-row>
                        <button mat-button (click)="editField(field.fieldID)">Edit field</button>
                        <button mat-button (click)="deleteField(field.fieldID)">Delete field</button>

                    </mat-action-row>
                    </mat-card>
                </p> 
              

              <mat-action-row>
                <button mat-button (click)="editLayer(layer.layerid,layer.layername)">Edit layer</button>
                <button mat-button (click)="deleteLayer(layer.layerid)">Delete layer</button>
              </mat-action-row>



        </mat-expansion-panel>
   
      </mat-accordion>

    </div>
  