
<div class="w3-container"style="margin-left:25%; padding:30px; margin-bottom: 10%">
  
  <form (submit)="save($event)">
    <h4>Edit Layer Name</h4>
    <mat-card>
      <mat-form-field>
        <input id="Name" matInput placeholder="Name" value="{{layername}}" required>
      </mat-form-field>
      
      <div #parent></div>


          <button mat-raised-button  type="button"
          style="margin: 10px;" 
          (click)="addComponent()"
          >Add Field</button>
          <button mat-raised-button type="submit">Save</button>
    

    </mat-card>

  </form>

</div>
