header{
    text-align: center;
 
    top:0%;
    width: 100%;
    padding: 0;
    font-size: 30px;
    border-bottom: 2px solid #eeeeee

}

.example-icon {
    padding: 0 14px;
  }
  
.example-spacer {
    flex: 1 1 auto;
}