<header class="w3-container w3-teal">
<mat-toolbar >
  <mat-toolbar-row >
    <a href=""><span>WEVMapping</span></a>
    <span class="example-spacer"></span>
    <span style="margin:4px;">About Us</span>
    <span style="margin:4px;">Contact</span>
    
  </mat-toolbar-row>
</mat-toolbar>
</header>