<div>
<mat-form-field class="example-full-width">
    <input matInput placeholder="Attribute 1" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Attribute 2"></textarea>
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
      <input type="date" matInput placeholder="Attribute 3">
  </mat-form-field>
</div>