<div class="w3-container"style="margin-left:25%; padding:30px; margin-bottom: 10%">
    <mat-accordion><h2 class="w3-wide">Features <button mat-raised-button style="position:absolute; right:5%;" (click)="addFeature()" >Add New Feature</button></h2>
      <mat-expansion-panel *ngFor="let feature of features$ | async">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>{{ feature.title}}</span>
              <span style="display: inline-block; position:absolute; right:7%;">{{ feature.layerName}}</span>
            </mat-panel-title>

          </mat-expansion-panel-header>
            <div *ngFor="let input of feature.arregloInput">
              <p style="display: inline-block;">
                <b>{{input.type}}:</b>  {{ input.name }}
                
              </p>
                <button mat-button style="display: inline-block; position:absolute; right:5%;" (click)="editInput(feature.title,input.type,input.name)">Edit</button>
              </div>
                
            <mat-action-row>
              <button mat-button (click)="editFeature(feature.title)">Edit Feature name</button>
              <button mat-button (click)="deleteFeature(feature.featureID)">Delete Feature</button>
            </mat-action-row>



      </mat-expansion-panel>
 
    </mat-accordion>

  </div>
